# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    npm install -g anypoint-cli-v4
    anypoint-cli-v4 plugins:install anypoint-cli-account-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-api-mgr-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-cloudhub-plugin
    nypoint-cli-v4 plugins:install anypoint-cli-designcenter-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-exchange-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-governance-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-runtime-mgr-plugin
    anypoint-cli-v4 plugins:install anypoint-cli-datagraph-plugin
    
    anypoint-cli-v4 cloudhub:load-balancer:list 
    anypoint-cli-v4 cloudhub:region:list
  
